<md-sidenav md-component-id="coreRightNav" class="md-sidenav-right md-whiteframe-z2">
  <md-toolbar class="md-theme-blue-grey md-hue-3">
    <h1 class="md-toolbar-tools">
      <md-button class="md-icon-button md-mini" ng-click="vm.navigation.close()" aria-label="Close menu">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
      <span flex></span>
      <span style="font-weight: 700; font-size: 1.2em">User Menu</span>
    </h1>
  </md-toolbar>
  <md-list ng-show="!vm.authentication.token">
    <md-list-item ui-sref="root.user.authentication.signin" >
      <ng-md-icon icon="home"></ng-md-icon>
      <span flex></span>
      <span>Sign In</span>
    </md-list-item>
    <md-list-item ui-sref="root.user.authentication.signup" >
      <ng-md-icon icon="home"></ng-md-icon>
      <span flex></span>
      <span>Sign Up</span>
    </md-list-item>
  </md-list>
  <md-list ng-show="vm.authentication.token">
    <md-list-item ui-sref="root.user.settings" >
      <ng-md-icon icon="settings"></ng-md-icon>
      <span flex></span>
      <span>Settings</span>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="vm.signout()" >
      <ng-md-icon icon="home"></ng-md-icon>
      <span flex></span>
      <span>Signout</span>
    </md-list-item>
  </md-list>
</md-sidenav>
