<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">
  <title page-title></title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">
  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Fav Icon -->
  <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-cloak>
  <div layout="column" layout-fill flex>
    <md-toolbar layout="row" class="md-whiteframe-z2">
      <div class="md-toolbar-tools" ui-view="header"></div>
    </md-toolbar>
    <div layout="row" flex>
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="coreLeftNav" ui-view="leftnav"></md-sidenav>
      <md-content flex ui-view="main"></md-content>
      <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="coreRightNav" ui-view="rightnav"></md-sidenav>
    </div>
    <footer ui-view="footer"></footer>
  </div>
  <!-- inject:js -->
  <!-- endinject -->
  {% if livereload %}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
  {% endif %}
</body>
</html>
