<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">
  <title page-title></title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">
  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Fav Icon -->
  <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-cloak>
  <div layout="column" layout-fill flex>
    <md-toolbar layout="row" class="md-whiteframe-z2" ui-view="header"></md-toolbar>
    </md-toolbar>
    <div layout="row" flex>
      <section ui-view="leftnav"></section>
      <md-content flex ui-view="main"></md-content>
      <section ui-view="rightnav"></section>
    </div>
  </div>
  <!-- inject:js -->
  <!-- endinject -->
</body>
</html>
