{
  "env": {
    "production": {
      "presets": ["es2015"],
      "plugins": ["transform-remove-console"]
    },
    "test": {
      "presets": ["es2015"]
    },
    "development": {
      "presets": ["es2015"]
    },
    "travis": {
      "presets": ["es2015"],
      "plugins": ["transform-remove-console"]
    }
  }
}
