<md-toolbar ng-controller="ToolbarController as vm" class="md-toolbar-tools">
  <span ng-repeat="menu in vm.menus | orderBy: order" flex="{{menu.flex}}" ng-show="menu.show">
    <md-menu md-position-mode="{{menu.position}}" ng-if="menu.type === 'menu'">
      <md-button aria-label="{{menu.aria}}" ng-click="$mdOpenMenu($event)">
        <img ng-if="menu.image" class="header-profile-image" alt="{{menu.title}}" ng-src="{{menu.image}}">
        <span>{{menu.title}}</span>
        <ng-md-icon ng-if="menu.icon" icon="{{menu.icon}}"></ng-md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="item in menu.items">
          <md-button ui-sref="{{item.state}}" aria-label="{{item.title}}">
            <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
            <span flex></span>
            {{item.title}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <md-button ng-if="menu.type === 'button'" ui-sref="{{menu.state}}" aria-label="{{menu.aria}}">
      <ng-md-icon ng-if="menu.icon" icon="{{menu.icon}}"></ng-md-icon>
      {{menu.title}}
    </md-button>
  </span>
</md-toolbar>
