<md-toolbar ng-controller="ToolbarController as vm" class="md-toolbar-tools" >
  <div ng-repeat="menu in vm.menus">
    <md-menu ng-if="menu.type === 'menu'" ng-show="menu.show" >
      <md-button  aria-label="{{menu.aria}}" ng-click="$mdOpenMenu($event)">
        <ng-md-icon ng-if="menu.icon" icon="{{menu.icon}}"></ng-md-icon>
        {{menu.title}}
      </md-button>
      <md-menu-content>
        <md-menu-item ng-repeat="item in menu.items">
          <md-button ui-sref="{{item.state}}" aria-label="{{item.title}}">
            <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
            <span flex></span>
            {{item.title}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <md-button ng-if="menu.type === 'button'" ui-sref="{{menu.state}}" aria-label="{{menu.aria}}" ng-show="menu.show">
      <ng-md-icon ng-if="menu.icon" icon="{{menu.icon}}"></ng-md-icon>
      {{menu.title}}
    </md-button>
  </div>

  <!--
  <md-button class="md-icon-button" aria-label="menu" ui-sref="home" hide-gt-xs><ng-md-icon icon="menu"></ng-md-icon></md-button>
  <a ui-sref="home" hide-xs>Modern-MEAN</a>
  <span flex></span>
  <md-button ui-sref="authentication.signup" aria-label="Sign Up" ng-hide="vm.authentication.user">
    <ng-md-icon icon="timer_auto"></ng-md-icon>Sign Up
  </md-button>
  <md-button ui-sref="authentication.signin" aria-label="Sign In" ng-hide="vm.authentication.user">
    <ng-md-icon icon="login"></ng-md-icon>{{item.title}}
  </md-button>
  <md-menu md-position-mode="target-right target" ng-show="vm.authentication.user">
    <md-button aria-label="User Menu" ng-click="$mdOpenMenu($event)">
      {{vm.authentication.user.displayName}} <ng-md-icon icon="more_vert"></ng-md-icon>
    </md-button>
    <md-menu-content width="4" >
      <md-menu-item ng-repeat="item in vm.accountMenu.items">
        <md-button ui-sref="{{item.state}}" aria-label="{{item.title}}">{{item.title}}<span flex></span><ng-md-icon icon="{{item.icon}}"></ng-md-icon></md-button>
      </md-menu-item>
      <md-button ng-click="vm.authentication.signout()" class="md-raised md-primary"><ng-md-icon icon="logout"></ng-md-icon><span flex></span>Sign Out</md-button>
    </md-menu-content>
  </md-menu>
  -->
</md-toolbar>
