<md-toolbar class="md-theme-blue-grey md-hue-3 md-whiteframe-z2">
  <h1 class="md-toolbar-tools">
    <span style="font-weight: 700; font-size: 1.2em">Navigation Menu</span>
    <span flex></span>
    <md-button class="md-icon-button md-mini" ng-click="vm.close('left')" aria-label="Close Menu">
      <ng-md-icon icon="close"></ng-md-icon>
    </md-button>
  </h1>
</md-toolbar>
<md-list>
  <span ng-repeat="item in menu.items | orderBy: order">
    <md-list-item ui-sref="root.home" ng-click="vm.close('left')">
      <ng-md-icon icon="home"></ng-md-icon>
      <span flex></span>
      <span>homepage</span>
    </md-list-item>
  </span>
</md-list>
<md-divider></md-divider>
