<md-sidenav md-component-id="coreLeftNav" layout="column" class="md-sidenav-left md-whiteframe-z2">
  <md-toolbar layout="row" class="md-theme-blue-grey md-hue-3 md-whiteframe-z2">
    <h1 class="md-toolbar-tools">
      <span style="font-weight: 700; font-size: 1.2em">Navigation Menu</span>
      <span flex></span>
      <md-button class="md-icon-button md-mini" ng-click="vm.close('coreLeftNav')" aria-label="Close Menu">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </h1>
  </md-toolbar>
  <md-content flex>
    <md-list>
      <md-list-item ui-sref="root.home" ng-click="vm.close('coreLeftNav')">
        <ng-md-icon icon="home"></ng-md-icon>
        <span flex></span>
        <span>Home</span>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </md-content>
</md-sidenav>
