<md-content layout-padding flex>
  <section layout="row" layout-align="center center">
    <img alt="Modern-MEAN" src="/dist/img/core/client/img/brand/logo.png" />
  </section>
  <section layout="row" layout-align="center center">
    Open-Source Full-Stack Solution For MEAN Applications
  </section>
  <section layout="row" layout-align="center center">
    <md-button class="md-raised md-accent" href="https://github.com/modern-mean/modern-mean-core" target="_blank" aria-label="Learn More">
      Learn more
      <ng-md-icon icon="arrow_forward"></ng-md-icon>
    </md-button>
  </section>
  <section layout="row" layout-align="center center" flex>
    <h1 class="md-display-1">Congrats! You've configured and run the default Modern-MEAN application.</h1>
  </section>
  <section layout="row" layout-align="center center" flex>
    <section>
      <p>Modern-MEAN is a web application boilerplate, which means you should start changing everything :-)</p>
      <p>This sample application tracks users and articles.</p>
      <ul>
        <li>Click <em>Sign Up</em> to get started.</li>
        <li>Configure your app to work with your social accounts, by editing the <em>/config/env/*.js</em> files.</li>
        <li>Edit your users module.</li>
        <li>Add new CRUD modules.</li>
        <li>Have fun...</li>
      </ul>
    </section>
  </section>

  <section layout="row" layout-xs="column">
    <md-card>
      <md-card-content>
        <h2><strong>M</strong>ongoDB</h2>
        <p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a NoSQL database. MongoDB's great manual is the place to get started with NoSQL and MongoDB.</p>
      </md-card-content>
      <md-card-footer>
        <a target="_blank" href="http://docs.mongodb.org/manual/">Manual</a>
      </md-card-footer>
    </md-card>
    <md-card>
      <md-card-content>
        <h2><strong>E</strong>xpress</h2>
        <p><a target="_blank" href="http://expressjs.com/"> Express</a> is a NodeJS server-side application web framework.</p>
      </md-card-content>
      <md-card-footer>
        <a target="_blank" href="http://expressjs.com/4x/api.html">The ExpressJS API reference</a>
        <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a>
      </md-card-footer>
    </md-card>
    <md-card>
      <md-card-content>
        <h2><strong>A</strong>ngularJS</h2>
        <p><a target="_blank" href="http://angularjs.org/">AngularJS</a> is the client-side web application framework.</p>
      </md-card-content>
      <md-card-footer>
        <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a>
        <a target="_blank" href="https://egghead.io/">Egghead Videos</a>
      </md-card-footer>
    </md-card>
    <md-card>
      <md-card-content>
        <h2><strong>N</strong>ode.js</h2>
        <p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a JavaScript run-time, popular for being a web server platform.</p>
      </md-card-content>
      <md-card-footer>
        <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a>
      </md-card-footer>
    </md-card>
  </section>
  
  <div layout="row">
    <section>
      <h2 class="md-display">Modern-MEAN Documentation</h2>
      <p>Once you're familiar with the foundation technology, check out the Modern-MEAN Documentation:</p>
      <p>Links to follow up soon</p>
      <p>Enjoy &amp; Keep Us Updated,</p>
      <p>The Modern-MEAN Team.</p>
    </section>
  </div>
</md-content>
