<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-toolbar class="md-theme-blue-grey md-hue-3">
    <h1 class="md-toolbar-tools">
      <md-button class="md-icon-button md-mini" ng-click="vm.close('right')" aria-label="Close menu">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
      <span flex></span>
      <span style="font-weight: 700; font-size: 1.2em">Right Nav Menu</span>
    </h1>
  </md-toolbar>
  <md-content>

  </md-content>
</md-sidenav>
