<md-toolbar class="md-theme-blue-grey md-hue-3 md-whiteframe-z2">
  <h1 class="md-toolbar-tools">
    <span style="font-weight: 700; font-size: 1.2em">Navigation Menu</span>
    <span flex></span>
    <md-button class="md-icon-button md-mini" ng-click="vm.close('left')" aria-label="Close Menu">
      <ng-md-icon icon="close"></ng-md-icon>
    </md-button>
  </h1>
</md-toolbar>
<span ng-repeat="menu in vm.menus | orderBy:['id', 'title', 'items']:true" ng-show="menu.show">
  <md-toolbar ng-if="menu.title" class="md-theme-blue-grey md-hue-3 md-whiteframe-z1">
    <h1 class="md-toolbar-tools">
      <ng-md-icon icon="{{menu.icon}}"></ng-md-icon>
      <span flex></span>
      <span style="font-weight: 700;">{{menu.title}}</span>
    </h1>
  </md-toolbar>
  <md-list>
    <span ng-repeat="item in menu.items | orderBy: order">
      <md-list-item ui-sref="{{item.state}}" ng-click="vm.close('left')">
        <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
        <span flex></span>
        <span>{{item.title}}</span>
      </md-list-item>
    </span>
  </md-list>
  <md-divider></md-divider>
</span>
