<md-content layout-padding>
  <h1 class="md-display-1">Forgot your password</h1>
  <p class="md-title">Please your account email address. We will send you your signin credentials.</p>
  <form name="forgotPasswordForm" ng-submit="vm.askForPasswordReset(forgotPasswordForm.$valid)" novalidate autocomplete="off">
    <md-input-container class="md-block">
      <input type="email" id="email" name="email" ng-model="vm.credentials.email" placeholder="email address" lowercase required>
      <div ng-messages="forgotPasswordForm.email.$error" role="alert">
        <div ng-message="required">Enter an email address.</div>
      </div>
    </md-input-container>
    <section layout="row" layout-align="center center">
      <md-button type="submit" class="md-raised md-primary" aria-label="Submit">Submit</md-button>
    </section>
    <section layout="row" layout-align="center center" ng-show="vm.error">
      <strong ng-bind="vm.error"></strong>
    </section>
    <section layout="row" layout-align="center center" div ng-show="vm.success">
      <strong ng-bind="vm.success"></strong>
    </section>
  </form>
</md-content>
