<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h1 class="md-display-1" style="font-weight: 700; font-size: 1.5em">Reset your password</span></h1>
  </div>
</md-toolbar>
<md-content layout-padding>
  <form name="resetPasswordForm" ng-submit="vm.resetUserPassword(resetPasswordForm.$valid)" novalidate autocomplete="off">
    <md-input-container class="md-block">
      <input type="password" id="newPassword" name="newPassword" ng-model="vm.passwordDetails.newPassword" placeholder="New Password" autocomplete="new-password" password-validator required>
      <md-tooltip md-direction="top">{{popupMSG}}</md-tooltip>
      <div ng-messages="resetPasswordForm.newPassword.$error" role="alert">
        <div ng-message="required">Enter a new password.</div>
        <div ng-repeat="passwordError in passwordErrors">
          <div ng-show="resetPasswordForm.newPassword.$error.requirements">{{passwordError}}</div>
        </div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <input type="password" id="verifyPassword" name="verifyPassword" ng-model="vm.passwordDetails.verifyPassword" placeholder="Verify Password" password-verify="passwordDetails.newPassword" required>
      <div ng-messages="resetPasswordForm.verifyPassword.$error" role="alert">
        <div ng-message="required">Enter the password again to verify.</div>
        <div ng-show=resetPasswordForm.verifyPassword.$error.passwordVerify>Passwords do not match.</div>
      </div>
    </md-input-container>
    <section layout="row" layout-align="center center">
      <md-button ng-disabled="resetPasswordForm.$invalid" type="submit" aria-label="Update Passowrd" class="md-raised md-primary">Update Password</md-button>
    </section>
    <section layout="row" layout-align="center center" ng-show="vm.error">
      <strong ng-bind="vm.error"></strong>
    </section>
    <section layout="row" layout-align="center center" ng-show="vm.success">
      <strong ng-bind="vm.success"></strong>
    </section>
  </form>
</md-content>
