<md-content layout-padding layout-gt-sm="column" layout="row">
  <div flex="auto" layout="column">
    <div ui-view="row-1-col-1"></div>
  </div>
  <div flex="auto" layout="column">
    <div ui-view="row-1-col-2"></div>
  </div>
  <div flex="auto" layout="column">
    <div ui-view="row-1-col-3"></div>
  </div>
</md-content>

<md-content layout-padding layout-gt-sm="column" layout="row">
  <div flex="auto" layout="column">
    <div ui-view="row-2-col-1"></div>
  </div>
  <div flex="auto" layout="column">
    <div ui-view="row-2-col-2"></div>
  </div>
  <div flex="auto" layout="column">
    <div ui-view="row-2-col-3"></div>
  </div>
</md-content>

<md-content layout-padding layout-gt-sm="column" layout="row">
  <div flex="auto" layout="column">
    <div ui-view="row-3-col-1"></div>
  </div>
  <div flex="auto" layout="column">
    <div ui-view="row-3-col-2"></div>
  </div>
  <div flex="auto" layout="column">
    <div ui-view="row-3-col-3"></div>
  </div>
</md-content>
