<md-content layout-padding>
  <div layout="row">
    <div layout="column" flex>
      <h1 class="md-display-1" ng-bind="vm.user.email"></h1>
    </div>
    <div layout="column">
      <div layout="row" style="padding-top: 1em;">
        <md-button class="md-fab md-raised md-accent" aria-label="Edit" ui-sref="admin.user-edit({userId: vm.user._id})">
          <ng-md-icon icon="edit"></ng-md-icon>
        </md-button>
        <md-button class="md-fab md-raised md-warn" aria-label="Remove" ng-click="vm.remove();" ng-if="user._id !== vm.authentication.user._id">
          <ng-md-icon icon="delete"><ng-md-icon>
        </md-button>
      </div>
    </div>
  </div>
  <md-list>
    <md-list-item class="md-2-line">
      <div class="md-list-item-text" layout="column">
        <h3 class="md-title">First Name</h3>
        <h4 ng-bind="vm.user.firstName"></h4>
      </div>
    </md-list-item>
    <md-divider ></md-divider>
    <md-list-item class="md-2-line">
      <div class="md-list-item-text" layout="column">
        <h3 class="md-title">Last Name</h3>
        <h4 ng-bind="vm.user.lastName"></h4>
      </div>
    </md-list-item>
    <md-divider ></md-divider>
    <md-list-item class="md-2-line">
      <div class="md-list-item-text" layout="column">
        <h3 class="md-title">Email</h3>
        <h4 ng-bind="vm.user.email"></h4>
      </div>
    </md-list-item>
    <md-divider ></md-divider>
    <md-list-item class="md-2-line">
      <div class="md-list-item-text" layout="column">
        <h3 class="md-title">Provider</h3>
        <h4 ng-bind="vm.user.provider"></h4>
      </div>
    </md-list-item>
    <md-divider ></md-divider>
    <md-list-item class="md-2-line">
      <div class="md-list-item-text" layout="column">
        <h3 class="md-title">Created</h3>
        <h4 ng-bind="vm.user.created"></h4>
      </div>
    </md-list-item>
    <md-divider ></md-divider>
    <md-list-item class="md-2-line">
      <div class="md-list-item-text" layout="column">
        <h3 class="md-title">Roles</h3>
        <h4 ng-bind="vm.user.roles"></h4>
      </div>
    </md-list-item>
  </md-list>
  <md-button ui-sref="admin.users" class="md-raised" aria-label="Go back">go back</md-button>
</md-content>
