<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h1 class="md-display-1" style="font-weight: 700; font-size: 1.5em">User List</h1>
  </div>
</md-toolbar>
<md-content layout-padding>
  <md-input-container class="md-block">
    <input type="text" ng-model="vm.search" placeholder="User Search" ng-change="vm.figureOutItemsToDisplay()" />
  </md-input-container>
</md-content>
<md-content>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="user in vm.pagedItems" ui-sref="root.admin.user({userId: user._id})">
      <img class="md-avatar" ng-src="{{user.profileImageURL}}">
      <div class="md-list-item-text" layout="column">
        <h4>{{user.displayName}} <{{user.email}}></h4>
        <p>Roles: <span ng-bind="user.roles"></span></p>
      </div>
    </md-list-item>
  </md-list>
</md-content>
