<md-content>
  <h1 class="md-display-2">Settings</h1>
  <div layout="row" flex layout-xs="column">
    <div flex>
      <md-list>
        <md-list-item ui-sref-active="active" ui-sref="settings.profile" flex><span>Edit Profile</span></md-list-item>
        <md-list-item ui-sref-active="active" ui-sref="settings.picture" flex><span>Change Profile Picture</span></md-list-item>
        <md-list-item ui-sref-active="active" ng-show="vm.user.provider === 'local'" ui-sref="settings.password" flex><span>Change Password<span></md-list-item>
        <md-list-item ui-sref-active="active" ui-sref="settings.accounts" flex><span>Manage Social Accounts</span></md-list-item>
      </md-list>
    </div>
    <div flex ui-view></div>
  </div>
</md-content>
