<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h1 class="md-display-1" style="font-weight: 700; font-size: 1.5em">Edit Profile</h1>
  </div>
</md-toolbar>
<md-content layout-padding>
  <form name="userForm" ng-submit="vm.update(userForm.$valid)" novalidate autocomplete="off">
    <md-input-container class="md-block">
      <input type="text" id="firstName" name="firstName" ng-model="vm.user.firstName" placeholder="First Name" required>
      <div ng-messages="userForm.firstName.$error" role="alert">
        <div ng-message="required">First name is required.</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <input type="text" id="lastName" name="lastName" ng-model="vm.user.lastName" placeholder="Last Name" required>
      <div ng-messages="userForm.lastName.$error" role="alert">
        <div ng-message="required">Last name is required.</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <input type="email" id="email" name="email" ng-model="vm.user.email" placeholder="Email" lowercase required>
      <div ng-messages="userForm.email.$error" role="alert">
        <div ng-message="required">Email address is required.</div>
        <div ng-message="email">Email address is invalid.</div>
      </div>
    </md-input-container>
    <section layout="row" layout-align="center center">
      <md-button ng-disabled="userForm.$invalid" type="submit" class="md-raised md-primary" aria-label="Save Profile">Save Profile</md-button>
    </section>
    <section layout="row" layout-align="center center" ng-show="vm.success">
      <div style="color: green;font-weight:bold">Profile Saved Successfully</div>
    </section>
    <section layout="row" layout-align="center center" ng-show="vm.error">
      <strong ng-bind="vm.error"></strong>
    </section>
  </form>
</md-content>
