<md-content>
  <h1 class="md-display-1">Change Profile Picture</h1>

    <div class="form-group text-center" ng-show="!vm.file">
      <img ng-src="{{vm.user.profileImageURL}}" alt="{{vm.user.displayName}}" class="img-thumbnail user-profile-picture">
    </div>
    <md-input-container class="md-block">
      <img ngf-src="vm.file" class="">
      <md-button ng-show="vm.file" ng-click="vm.upload()" class="md-raised md-primary" aria-label="Save Profile">Save Picture</md-button>
      <div
        ng-show="!vm.file"
        ngf-select ngf-drop ng-model="vm.file"
        class="drop-box ng-pristine ng-valid" ngf-drop-available="dropAvailable">Select File
        <span ng-show="dropAvailable" class=""> or Drop File</span>
      </div>
    </md-input-container>



</md-content>
