<md-content layout-padding layout-xs="column" layout-sm="column" layout="row">
  <div flex="auto" layout="column">
    <div ui-view="profile"></div>
  </div>
  <div flex="auto" layout="column">
    <div ui-view="password"></div>
  </div>
  <div flex="auto" layout="column">
    <div ui-view="picture"></div>
  </div>
</md-content>

<md-content layout-padding layout-xs="column" layout-sm="column" layout="row">
  <div flex="auto" layout="column">
    <div ui-view="email"></div>
  </div>
  <div flex="auto" layout="column">
    <div ui-view="address"></div>
  </div>
</md-content>
