<md-toolbar class="md-warn">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">Social Accounts do not work.  Server side needs to be reworked for JWT</h2>
  </div>
</md-toolbar>
<md-content>
  <h1 class="md-display-1" ng-show="vm.user.additionalProvidersData">Connected social accounts:</h1>
  <div class="col-md-12 text-center">
    <div  class="social-account-container">
      <img ng-src="/dist/img/users/client/img/buttons/{{providerName}}.png">
      <a class="btn btn-danger btn-remove-account" ng-click="vm.removeUserSocialAccount(providerName)">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
  </div>
  <h1 class="md-display-1">Unconnected social accounts:</h1>
  <div class="col-md-12 text-center">
    <div class="social-account-container" ng-repeat="provider in vm.providers">
      <a class="btn btn-success" ng-href="/api/auth/{{provider.name}}" target="_self">
        <i class="glyphicon glyphicon-plus"></i><img ng-src="{{provider.image}}">
      </a>
    </div>
  </div>
</section>
