<md-toolbar>
  <div class="md-toolbar-tools">
    <h2 class="md-title">Sign in using your social accounts</h2>
  </div>
</md-toolbar>    
<md-content>
  <h2 class="md-title">Sign in using your social accounts</h2>
  <img ng-click="vm.callOauthProvider('/api/auth/facebook')" ng-src="/dist/img/users/client/img/buttons/facebook.png">
  <img ng-click="vm.callOauthProvider('/api/auth/twitter')" ng-src="/dist/img/users/client/img/buttons/twitter.png">
  <img ng-click="vm.callOauthProvider('/api/auth/google')" ng-src="/dist/img/users/client/img/buttons/google.png">
  <img ng-click="vm.callOauthProvider('/api/auth/linkedin')" ng-src="/dist/img/users/client/img/buttons/linkedin.png">
  <img ng-click="vm.callOauthProvider('/api/auth/github')" ng-src="/dist/img/users/client/img/buttons/github.png">
  <img ng-click="vm.callOauthProvider('/api/auth/paypal')"  ng-src="/dist/img/users/client/img/buttons/paypal.png">
</md-content>
