<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h2 class="md-display-1" style="font-weight: 700; font-size: 1.5em">Account Signin</h2>
  </div>
</md-toolbar>
<md-content layout-padding>
  <form name="userForm" ng-submit="vm.signin(userForm.$valid)" novalidate autocomplete="off">
    <md-input-container class="md-block">
      <input type="email" id="email" name="email" ng-model="vm.credentials.email" placeholder="email address" lowercase required>
      <div ng-messages="userForm.email.$error" role="alert">
        <div ng-message="required">email is required.</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <input type="password" id="password" name="password" ng-model="vm.credentials.password" placeholder="password" required>
      <div ng-messages="userForm.password.$error" role="alert">
        <div ng-message="required">Password is required.</div>
      </div>
    </md-input-container>
    <section layout="row" layout-align="center center">
      <md-button ng-disabled="userForm.$invalid" type="submit" class="md-raised md-primary" aria-label="Sign In">Sign in</md-button>
      &nbsp; or&nbsp;
      <md-button ui-sref="root.user.authentication.signup" class="md-raised md-default" aria-label="Sign Up">Sign up</a>
    </section>
    <section layout="row" layout-align="center center">
      <md-button ui-sref="root.user.password.forgot" aria-label="forgot password">Forgot your password?</md-button>
    </section>
    <section layout="row" layout-align="center center" ng-show="vm.error">
      <span ng-bind="vm.error"></span>
    </section>
  </form>
</md-content>
