[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  opacity: 0.8;
  margin-bottom: -10px;
}
