<md-card>
  <md-card-header>
    <md-card-header-text>
      <span class="md-headline">Change Password</span>
    </md-card-header-text>
    <md-card-title-media>
      <ng-md-icon icon="security"></ng-md-icon>
    </md-card-title-media>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content>
    <form name="vm.forms.passwordForm" novalidate autocomplete="off">
      <md-input-container class="md-block">
        <input type="password" id="currentPassword" name="currentPassword"  ng-model="vm.password.currentPassword" placeholder="Current Password" required>
        <div ng-messages="vm.forms.passwordForm.currentPassword.$error" role="alert">
          <div ng-message="required">Your current password is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <input type="password" id="newPassword" name="newPassword" ng-model="vm.password.newPassword" placeholder="New Password"  password-validator required>
        <div ng-messages="vm.forms.passwordForm.newPassword.$error" role="alert">
          <div ng-message="required">Enter a new password.</div>
          <div ng-repeat="passwordError in passwordErrors">
            <div ng-show="vm.forms.passwordForm.newPassword.$error.requirements">{{passwordError}}</div>
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <input type="password" id="verifyPassword" name="verifyPassword" ng-model="vm.password.verifyPassword" placeholder="Verify Password" password-verify="vm.password" required>
        <div ng-messages="vm.forms.passwordForm.verifyPassword.$error" role="alert">
          <div ng-message="required">Verify your new password.</div>
          <div ng-show="vm.forms.passwordForm.verifyPassword.$error.passwordVerify">Passwords do not match.</div>
        </div>
      </md-input-container>
    </form>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button ng-disabled="vm.executing || vm.forms.passwordForm.$pristine" class="md-raised md-warn" ng-click="vm.clear()">Cancel</md-button>
    <md-button ng-disabled="vm.forms.passwordForm.$invalid || vm.executing" class="md-raised md-accent" ng-click="vm.save()">Save</md-button>
  </md-card-actions>
  <md-progress-linear class="md-accent" ng-show="vm.executing" md-mode="indeterminate"></md-progress-linear>
</md-card>
